<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.cn.mapper.CartMapper">
  <resultMap id="BaseResultMap" type="com.cj.cn.pojo.Cart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="checked" jdbcType="INTEGER" property="checked" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectCartProductVOListByUserId" resultType="com.cj.cn.vo.CartProductVO">
    SELECT ct1.id, ct1.user_id, ct1.product_id, ct1.quantity,
            pt1.name as product_name, pt1.subtitle as product_subtitle,
            pt1.main_image as product_main_image, pt1.price as product_price,
            pt1.status as product_status, pt1.stock as product_stock, ct1.checked as product_checked
    FROM mmall_cart ct1
    JOIN mmall_product pt1
    ON ct1.product_id = pt1.id
    WHERE user_id = #{userId}
  </select>

  <select id="selectCartProductCheckedStatusByUserId" resultType="java.lang.Integer">
    SELECT count(1) FROM mmall_cart WHERE checked = 0 AND user_id = #{userId}
  </select>

  <delete id="deleteByUserIdAndProductIds">
    DELETE FROM mmall_cart WHERE user_id = #{userId}
    <if test="productIdList != null">
    AND product_id IN
      <foreach collection="productIdList" open="(" close=")" separator="," item="pid">
        #{pid}
      </foreach>
    </if>
  </delete>

  <update id="checkedOrUnCheckedProduct">
    UPDATE mmall_cart
    SET checked = #{checked}, update_time = now()
    WHERE user_id =#{userId}
    <if test="productId != null">
      AND product_id = #{productId}
    </if>
  </update>

  <select id="selectCartProductCount" resultType="java.lang.Integer">
    SELECT IFNULL(sum(quantity), 0) AS `count` FROM mmall_cart WHERE user_id = #{userId}
  </select>
</mapper>