<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cj.cn.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.cj.cn.pojo.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="main_image" jdbcType="VARCHAR" property="mainImage" />
    <result column="sub_images" jdbcType="VARCHAR" property="subImages" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectList" resultType="com.cj.cn.pojo.Product">
    SELECT * FROM mmall_product ORDER BY id asc
  </select>

  <select id="selectLikeNameOrByProductId" resultType="com.cj.cn.pojo.Product">
    SELECT * FROM mmall_product
    <where>
      <if test="productName != null and !''.equals(productName)">
        AND `name` LIKE #{productName}
      </if>
      <if test="productId != null">
        AND id = #{productId}
      </if>
    </where>
  </select>

  <select id="selectLikeNameAndCategoryIds" resultType="com.cj.cn.pojo.Product">
    SELECT * FROM mmall_product
    WHERE status = 1
    <if test="productName != null and !''.equals(productName)">
      AND `name` LIKE #{productName}
    </if>
    <if test="categoryIdList != null">
      AND category_id IN
      <foreach collection="categoryIdList" open="(" close=")" item="cid" separator=",">
        #{cid}
      </foreach>
    </if>
  </select>
</mapper>